body {
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
    margin: 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0px;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    display: flex;
    align-items: center;
}

#banner {
    display: inline-block;
    font-size: 40px;
    margin-left: 20px;
}

content {
    width: 100%;
}

#books_list {
    margin-top: 108px;
    width: 100%;
}

.books_list_line {
    width: 70%;
    margin: 6px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.books_list_line_name {
    font-size: 30px;
}

#book_container {
    width: 95%;
    margin: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 108px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#book_header {
    margin-left: auto;
    margin-right: auto;
}

#book_year {
    margin-top: 20px;
    margin-bottom: 20px;
}